body {
  background: #f8f8f8;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
* {
  -webkit-touch-callout: none;
  border-width: thin;
}
body,
p {
  margin: 0;
}
div,
a,
span {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333333;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
select {
  -webkit-appearance: none;
}
input::-webkit-input-placeholder {
  color: #bcbcbc;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
html {
  font-size: 20px;
  background: #FFFFFF;
}
body {
  font-size: 16px;
  -webkit-text-size-adjust: 100% !important;
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 21.33333333px !important;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 22.08px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 25.6px !important;
  }
}
button {
  border: none;
  outline: none;
}
.page_index {
  padding-bottom: 50px;
  position: relative;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 1px !important;
}
.swiper-container_image {
  width: 100%;
  height: 9.75rem;
}
.swiper-container_image .swiper-pagination-bullet {
  width: 12px;
  height: 2px;
  opacity: .5;
  border-radius: 0;
}
.swiper-container_image .swiper-pagination-bullet-active {
  opacity: 1;
  background: #FFFFFF;
}
.swiper-container_image .swiper-slide {
  background-size: cover;
}
.swiper-container_image img {
  width: 100%;
  display: block;
  height: 100%;
}
.swiper-container_xibao {
  width: calc(100% - 4rem);
  display: inline-block;
  height: 1.6rem;
  font-size: .7rem;
  line-height: .8rem;
  vertical-align: middle;
  flex: 1;
}
.swiper-container_xibao .swiper-slide {
  overflow: hidden;
}
.swiper-container_xibao p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  margin-left: 1rem;
}
.swiper-container_recommend.swiper-container {
  padding-bottom: .5rem;
  padding-left: .75rem;
}
/*.swiper-container_recommend .swiper-slide:not(:last-child) {*/
/*margin-right: .5rem;*/
/*}*/
.swiper-container_recommend .img_box {
  margin-bottom: .5rem;
  position: relative;
  background-size: cover;
}
.swiper-container_recommend .img_box img {
  width: 100%;
  display: block;
  height: 7.5rem;
}
/*.swiper-container_recommend .img_box p {*/
/*height: 1.75rem;*/
/*position: absolute;*/
/*font-size: .8rem;*/
/*left: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*padding-left: .5rem;*/
/*line-height: 1.75rem;*/
/*color: #ffffff;*/
/*}*/
.swiper-container_recommend .content_box {
  line-height: 1;
}
.swiper-container_recommend .content_box p:first-of-type {
  color: #505050;
  font-size: .7rem;
  height: 1.2rem;
  font-weight: bold;
}
.swiper-container_recommend .content_box p:nth-child(2) {
  color: #979797;
  font-size: .6rem;
  margin-bottom: .5rem;
}
.swiper-container_recommend .content_box p:nth-child(2) img {
  height: .6rem;
  width: .5rem;
  margin-right: 3px;
}
.swiper-container_recommend .content_box p:last-of-type {
  font-size: .7rem;
  color: #FF5A47;
  font-weight: bold;
}
.swiper-container_continued.swiper-container {
  padding-bottom: .5rem;
  padding-left: .75rem;
}
/*.swiper-container_continued .swiper-slide:not(:last-child) {*/
/*margin-right: .5rem;*/
/*}*/
.swiper-container_continued .img_box {
  margin-bottom: .5rem;
  position: relative;
  background-size: cover;
}
.swiper-container_continued .img_box img {
  width: 100%;
  display: block;
  height: 5rem;
}
.swiper-container_continued .img_box p {
  height: 1.75rem;
  position: absolute;
  font-size: .8rem;
  left: 0;
  right: 0;
  bottom: 0;
  /*background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));*/
  line-height: 1.75rem;
  color: #ffffff;
  text-align: center;
}
.container {
  padding: .5rem .75rem;
  margin-bottom: .1rem;
  background: #ffffff;
}
.logo>.line{
  display: inline-block;
  height: 0;
  width: 5rem;
  border-top: 1px solid #F1F1F1;
}
.nav {
  text-align: center;
  font-size: .6rem;
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}
.nav p {
  white-space: nowrap;
}
.nav img {
  width: 2.5rem;
}
#to_yeji,#to_zhaopin{
  display: none;
}
.h2 {
  color: #333333;
  font-size: 1rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1;
  margin-left: .75rem;
}
.h3 {
  color: #666666;
  font-size: 1rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1;
}
.search {
  position: absolute;
  width: 100%;
  min-height: 2.5rem;
  padding: .5rem .75rem;
  top: 11rem;
  z-index: 11;
  /*background-color: rgba(255, 255, 255, 0);*/
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.search_box {
  width: 100%;
  height: 2.25rem;
  position: relative;
}
.search img {
  width: .65rem;
  height: .6rem;
  position: absolute;
  left: 25px;
  top: 17px;
}
.search input {
  opacity: 1;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 2rem;
  padding-right: 1rem;
  -webkit-appearance: none;
  /*解决iphone safari上的圆角问题*/
  border-radius: 25px;
  background: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  box-shadow: 0 3px 10px RGBA(223, 223, 223, 0.5);
}
.search.search_active {
  background-color: #ffffff;
  position: fixed;
  top: 0;
}
.search.search_active input {
  background: #EEEEEE;
}
.search_only {
  position: static;
  border-bottom: 1px solid #DDDDDD;
}
.search_only input {
  background: #EEEEEE;
  -webkit-transition: width .3s;
  transition: width .3s;
}
input[type=search]:focus {
  width: 14.8rem;
}
input[type=search] + span {
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;
  right: -1rem;
  top: .5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
input[type=search]:focus + span {
  opacity: 1;
  right: 0;
}
.property_list {
  padding-top: 1rem;
  background: transparent;
}
.property_list li {
  height: 2rem;
  line-height: 2rem;
  font-size: .7rem;
  border-bottom: 1px solid #dcdcdc;
  text-indent: .75rem;
}
.property_list li a {
  display: block;
  width: 100%;
  height: 100%;
}
.no_item {
  display: none;
  padding: 0 .75rem .5rem .75rem;
}
.no_item > div {
  background: #f8f8f8;
  text-align: center;
  border: 1px solid #EEEEEE;
  line-height: 2.9rem;
  height: 2.9rem;
  width: 100%;
  color: #BCBCBC;
  font-size: .8rem;
  margin-top: -0.5rem;
}
/*弹框*/
.j-pop1 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  z-index: 111;
}
.j-pop1 .j-pop-cont {
  text-align: center;
  background: #fff;
  display: inline-block;
  padding-bottom: 0.1px;
  width: 13.5rem;
  border-radius: 12px;
}
.j-pop1 .j-pop-cont-detail {
  padding: 1.2rem .8rem;
}
.j-pop1 .j-pop-cont-detail .j-pop-txt {
  display: inline-block;
  font-size: .85rem;
  vertical-align: middle;
  line-height: 1rem;
  color: #030303;
}
.j-pop1 .j-pop-btn {
  text-align: right;
  line-height: 36px;
  font-size: 0;
  color: #48CFAD;
  border-top: 1px solid #eeeeee;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.j-pop1 .j-pop-btn span {
  display: block;
  vertical-align: middle;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: .85rem;
  width: 50%;
}
.j-pop1 .j-pop-btn .cancel {
  border-right: 1px solid #eeeeee;
}
footer {
  height: 62px;
  width: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  z-index: 11;
}
footer a {
  text-decoration: none;
  display: block;
  height: 62px;
  width: 20%;
  float: left;
  color: #999;
  font-size: 14px;
  text-align: center;
  line-height: 10px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
footer a i {
  display: block;
  height: 24px;
  width: 24px;
  margin: 10px auto;
}
/*----------footer---------*/
#footer-item {
  position: fixed;
  bottom: 0;
  height: 3.05rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  z-index: 2000;
  border-top: .01rem solid #DDDDDD;
}

#footer-item p {
  text-align: center;
  color: #999999;
  font-size: 14px;
}

#footer-item p > img {
  width: 1.1rem;
}

#footer-item > li > img {
  width: 2.1rem;
}