body{
    margin: 0;
    padding: 0;
    color: #333333;
}
ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
    list-style: none;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
input{
    border: none;
    outline: none;
    font-size: 16px;
}
input:focus{
    outline: none;
}
input::-webkit-input-placeholder{
    color:#CDCDCD!important;
}
button{
    outline: none;
    border: none;
    -webkit-appearance: none;
}
.loading{
    display: none;
    position: absolute;
    top: 0;
    width: .6rem;
    height: .6rem;
    border-radius: .02rem;
    vertical-align: bottom;
    border: 1px solid #EEEEEE;
    background:url(../img/loading.gif) no-repeat center;
}
/*模态框*/
.inviteModal,.imgModal,.modal,.tipModal{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    background: rgba(0,0,0,.5);
}
.imgModal{
    background: rgba(0,0,0,.8);
}
/*提示框*/
.inviteToast,.toast {
    padding: .1rem .1rem;
    min-width: .4rem;
    font-size: 16px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, .8);
    border-radius: .2rem;
    position: absolute;
    z-index: 20;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.imgToast{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.imgToast>img{
    max-width: 100%;
    height: auto;
    display: block;
}
/*文字字体大小是不要换算成rem做单位的，而是使用媒体查询来进行动态设置*/
@media screen and (max-width: 321px) {
    body {
        font-size:13px;
    }
}

@media screen and (min-width: 321px) and (max-width:400px) {
    body {
        font-size:14px;
    }
}

@media screen and (min-width: 400px){
    body {
        font-size: 16px;
    }
}