body {
    margin: 0;
    padding: 0;
}

ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    /*-webkit-transform: scale(.5);*/
    /*transform: scale(.5);*/
}

button {
    outline: none;
    border: none;
    background: #fff;
    -webkit-appearance: none;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

.page {
    background: #F8F8F8;
    height: 6.67rem;
}

#personInfo {
    background: url("../img/bg_profile_photo_export.png") no-repeat center center;
    padding: .1rem .2rem 0 .2rem;
    background-size: cover;
    height: 1.38rem;
}

#setting {
    text-align: right;
}

#personInfo > .avator {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#personInfo > .avator > ul {
    color: #fff;
    margin-left: .25rem;
    flex: 1;
}

#personInfo > .avator > ul span {
    font-size: 20px;
    margin-right: .16rem;
}

#personInfo > .avator > ul > li:last-child {
    margin-top: .16rem;
}

#activities {
    height: .7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
}

#activities img {
    width: .25rem;
    margin-bottom: .04rem;
}

#activities > div {
    text-align: center;
}

.gap {
    height: .1rem;
    background: #F8F8F8;
}

.poster {
    padding: .1rem .2rem;
    background: #fff;
}

#func-lists {
    background: #F8F8F8;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#func-lists > li {
    margin-right: .03rem;
    margin-bottom: .01rem;
    padding: .2rem 0;
    background: #fff;
    width: 1.22rem;
    height: .9rem;
}

#func-lists > li:nth-child(3n) {
    margin-right: 0;
}

#func-lists > li > p {
    text-align: center;
}

#func-lists > li > p > img {
    width: .25rem;
    margin-bottom: .08rem;
}
#hotLineLi{
    position: relative;
}
#hotLineLi a{
    position: absolute;
    opacity: 0;
    width: 1.22rem;
    height: .9rem;
    top: 0;
    z-index: 5;
}
#footer-item {
    position: fixed;
    bottom: 0;
    height: .65rem;
    width: 3.75rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    z-index: 10;
    border-top: .01rem solid #DDDDDD;
}

#footer-item p {
    text-align: center;
    color: #999999;
}

#footer-item p > img {
    width: .24rem;
    margin-bottom: .04rem;
}

#footer-item > li > img {
    width: .42rem;
}

/*文字字体大小是不要换算成rem做单位的，而是使用媒体查询来进行动态设置*/
@media screen and (max-width: 321px) {
    body {
        font-size: 13px;
    }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media screen and (min-width: 400px) {
    body {
        font-size: 16px;
    }
}