header{
    position: relative;
    background: #1C1B20;
}
header>div{
    height: .44rem;
    text-align: center;
    line-height: .44rem;
}
header>.backImg{
    width: .44rem;
    position: absolute;
}
header>.title{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
section{
    position: relative;
}
.redPackImg{
    width: 1.9rem;
    height: .9rem;
    position: absolute;
    top: .85rem;
    left: 50%;
    transform: translateX(-50%);
}
.showImg{
    width: 1.48rem;
    height: 3.03rem;
    position: absolute;
    bottom: .83rem;
}
#activeTime{
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: #D25400;
    font-size: 13px;
}
#tip{
    color: #FFFFFF;
    font-size: 13px;
    position: absolute;
    bottom: 4.25rem;
    left: .45rem;
}
#copy{
    position: absolute;
    bottom: .15rem;
    left: 1rem;
    color: #FFFFFF;
    font-size: 12px;
}
#step{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .25rem;
    width: 3rem;
    color: #D25400;
    font-size: 10px;
    position: absolute;
    top:5.1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
