*{padding:0;margin:0;font-family:Helvetica;}
html,body{width:100%;background: #fff;overflow: scroll;font-family:Helvetica;}
a{text-decoration: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
li{list-style: none;}
b,i,h4,em{font-weight: 400;font-size:16px;}
h4{font-weight: 300;font-size:20px;}
i,em{font-style: normal;}
img{border:0;}
input{outline: 0;}
.marp{
	line-height: 1rem;
}
#marg {
	width: 85%;
	height: 1rem;
	padding-left: 1rem;
	color:#fff;
	font-size: 14px;
	float: right;
}
#marg strong{
	padding:0 20px;
}
.top{
	height:11.3rem;
	width:100%;
	background: url(../img/buildMsg_bg.jpg) no-repeat center center;
	background-size: cover;
}
.buildMsgBox{
	width:70%;
	height:8rem;
	margin:0 auto;
	color:#fff;
	
}
.buildMsgDiv{
	width:100%;
	height:4.5rem;
	padding:0.5rem 0;
	background:url(../img/buildMsg_border.png) no-repeat center center;
	background-size: contain;

}
.buildMsgBox .buildMsg{
	padding-top:2rem;
}
.buildMsgBox .buildMsg h4{
	text-align: center;
	height:1.3rem;
	line-height:1.3rem;
	font-size: 16px;
}

.buildMsgDiv h3{
	text-align: center;
	height:1rem;
	line-height:1rem;
	font-size: 20px;
}

.buildMsgDiv p:nth-child(2){
	color: #ffb054;
	height:1.5rem;
	line-height:1.5rem;	
}
.buildMsgDiv p{
	text-align: center;
	height:1rem;
	line-height:1rem;	
	font-size: 16px;
}
.buildMsgDiv p:nth-child(2){
	color: #ffb054;
	height:1.7rem;
	line-height:1.7rem;	
}
.buildMsgDiv b{
	font-weight:normal;
	font-size: 28px;
}
.buildMsgBottom{
	height:1.5rem;
	line-height:1.5rem;	
	font-size: 14px;
}
.buildMsgBottom span{
	float: right;
}


.main{
	height:30rem;
	padding:2rem 0 1.5rem;
	width:100%;
	margin:-2px 0;
	background: url(../img/main_bg.jpg) no-repeat top center;
	background-size:100% 100%;
	
}
.mainTit1{
	height:6rem;
	width:61%;
	padding-top:3rem;
	margin:0 auto 1.5rem;
	background: url(../img/main_tit11.png) no-repeat top center;
	background-size: cover;
	
}
.mainTit1 p{
	text-align: center;
	transform:rotate(-10deg);
}
.mainTit1 p:first-child{
	height:4rem;
	line-height:4rem;
	font-size: 26px;
}
.mainTit1 p:last-child{
	height:2.5rem;
	line-height:2.5rem;
	font-size: 18px;
}
.mainTit2{
	height:4rem;
	width:8rem;
	margin:1.5rem auto 0;
	padding-top:2rem;
	background: url(../img/main_tit2.png) no-repeat top center;
	background-size: cover;	
}
.mainTit2 p{
	color:#270a04;
	font-weight: 600;
	text-align: center;
}
.erwei{
	height:10rem;
	width:10rem;
	padding:0.8rem;
	margin:0 auto;
	background: url(../img/erwei_border.png) no-repeat center center;
	background-size: contain;	
	
}
.erwei div{
	height:9rem;
	width:9rem;
	padding:0.5rem;
	background:#fff;
}
.erwei img{
	height:100%;
	width:100%;
}

.listWrap{
	width:100%;
	min-height: 5rem;
	margin:0 auto -2px;
	padding:3px 0;
	background:#232323;
}

.list{
	width:90%;
	min-height: 6rem;
	margin:0 auto;
	border:1px solid #fff;
}
.list h4{
	height:0.6rem;
	margin:0.7rem 0;
	background: url(../img/list_title.png) no-repeat center center;
	background-size: contain;
}
.list li{
	height:2rem;
	width:90%;
	padding:0.5rem 5%;	
}
.list li div{
	float: left;
	font-size: 16px;
	color:#fff;
	height:2rem;
}
.list li div:nth-child(1){
	height:2rem;
	width:2rem;
	border-radius: 3px;
	float: left;
}
.list li div:nth-child(1) img{
	height:100%;
	width:100%;
}
.list li div:nth-child(2){
	margin-left:0.5rem;
	float: left;
}
.list li div:nth-child(2) p{
	font-size: 18px;
	line-height:1rem;
}
.list li div:nth-child(2) p:last-child{
	font-size: 16px;
	color:#bfbfbf;
}
.list li div:nth-child(3){
	font-size: 18px;
	line-height:2rem;
	float: right;
}
.bottom{
	width:100%;
	padding-top:1rem;
	line-height: 2rem;
	height: 2rem;
	text-align: center;
	font-size: 16px;
	color:#fff;
	background:#232323;
}
